{% extends 'base.html'%}
{% block content %}
{% block styles%}
    {{ super() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
{% endblock %}

<div class="container-fluid">
    <h2 class="text-center mt-50 p-20">CNN</h2>
    <div class="row">
        {% for news in news %}
            <div class="col-md-3 d-flex justify-content-center source-body">
                <div class="card bg-light">
                    <div class="card-body">
                                <a href="/news/{{ news.id }}" target="_blank">
                                    <h4 class="card-title">{{ news.name }}</h4>
                                </a> 
                                <p class="card-text">{{news.description | truncate(150)}}</p>                      
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}