{% extends 'index.html' %}

<!-- Content block -->
{% block content %}
<div class="container-fluid">
    <h3 class="text-center m-30 p-20"><span>SOURCE: {{article.id|upper()}}</span></h3>
    <div class="row">
    {% for article in article %}
        <div class="col-lg-3 col-md-4 col-sm-4 d-flex justify-content-center">
            <div class="card text-center">
                <!-- <div class="card-body"> -->
                    <img class="card-img-top mb-3"src="{{article.urlToImage}}" width= "100%" alt="">
                    <h5 class="card-title">Author(s): {{ article.author }}</h5>
                    <div class="card-text mb-3">
                        <p>{{article.description}}</p> 
                        <a href="{{ article.url }}" target="_blank">
                            <h6>Read More...</h6>
                        </a>
                    </div>
                    <div class="card-footer">
                        <p><span>Date published:</span> {{article.publishedAt}}</p> 
                        <h6>Source: {{id|title()}}</h6>
                    </div>
                <!-- </div> -->
            </div>          
        </div>
    {% endfor %}
    </div>
    <div class="footer bg-dark justify-content-center center">
        <p class="copyright">copyright &copy; 2022 Esther Anyona</p>
    </div>
</div>    
{% endblock %}