{% extends 'index.html' %}
<!-- Content block -->
{% block content %}

<div class="container">
  {% for article in article %}

        <div class="row" style="background-color: #f5f5f5">
            <div class="col-sm-4">
            <div class="card" style="padding: 20px">
                <div class="card-body">
                <img src="{{article.Image}}" alt="img" width="400px" />
                </div>
            </div>
            </div>
            <div class="col-sm-6 g-5">
            <div class="card">
                <div class="card-body" style="padding-left: 90px">
                <h3>{{ article.title }}</h3>

                <p class="name">{{ article.name }}</p>
                <p class="title">{{ article.description }}</p>
                <p>{{article.publishedAt}}</p>
                <a href="{{article.url}}" class="btn btn-success">Whole story</a>
                </div>
            </div>
            </div>
        </div>
    {% endfor%}
  {% endblock %}
</div>

