{% extends 'index.html' %}
{% block navbar %} 
{% include 'navbar.html' %} 
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container-fluid">
    <h3 class="text-center m-30 p-20"><span>SOURCE: {{id|upper()}}</span></h3>
    <div class="row">
        {% for new in news %}
            <img src={{new.urlToImage}} class="card-img-top" alt="...">
            <div class="card-body" >
                <h5 class="card-title">{{new.title}}</h5>
                <p class="card-text">{{new.description}}</p>
                <a href={{new.url}} target="_blank" class="btn btn-primary">Read More</a>
                <p id="published">Published-At: {{new.publishedAt}}</p>
            </div>
        {% endfor %}
    </div>
</div>    
{% endblock %}

