<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% for new in news %}
  <img src={{new.urlToImage}} class="card-img-top" alt="...">
  <div class="card-body" >
    <h5 class="card-title">{{new.title}}</h5>
    <p class="card-text">{{new.description}}</p>
    <a href={{new.url}} target="_blank" class="btn btn-primary">Read More</a>
      <p id="published">Published-At: {{new.publishedAt}}</p>
  </div>
  {% endfor %}
</body>
</html>